[Unit]
Description=TVS Socket for the API

[Socket]
ListenStream=/run/isel/tvsctld/request
SocketMode=0660
SocketUser=root
SocketGroup=tvsgrp

[Install]
WantedBy=sockets.target

