[Unit]
Description=TVS Control Application
Requires=tvsctld.socket
After=tvsctld.socket

[Service]
ExecStart=/opt/isel/tvs/tvsctld/bin/tvsctld
Restart=no

[Install]
Also=tvsctld.socket
