[Unit]
Description=TVS Control Daemon
Requires=tvsctld.socket

[Service]
ExecStart=/opt/isel/tvs/tvsctld
User=root
Group=tvsgrp
Sockets=tvsctld.socket

[Install]
WantedBy=multi-user.target

